@keyframes loader {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px) rotate(-2deg);
  }
  50% {
    transform: translateY(-30px) rotate(2deg);
  }
  100% {
    transform: translateY(0px) rotate(-2deg);
  }
}

@keyframes floating02 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px rgba(207, 33, 42, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(207, 33, 42, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(207, 33, 42, 0.4);
  }
}
